body {
    align-items: center;
    justify-content: center;
}
.board-row {
    flex-direction: row;
    color: #000;
}

.square {
    height: 100px;
    margin: 5px;
    width: 100px;
    box-shadow: #000;
    border: 1px solid #000;
    /* border-radius: 15px; */
    background-color: white;
    font-size: 2rem;
    /* overflow: hidden; */
}